.dumi-default-doc-layout {
    background: #EBF5FD;
}

.dumi-default-doc-layout > main {
    max-width: 100vw;
}

@media only screen and (min-width: 767px) {
    .dumi-default-doc-layout > main {
        padding: 0;
    }
}
