.dtc-mul-select-dropdown {
    .dtc-option-select-overlay {
        background: #FFFFFF;
        box-shadow: 0 2px 6px 0 rgba(0,0,0,0.10);
        border-radius: 2px;
        border-radius: 2px;
        width: 220px;
        height: auto;
        .dtc-option-select-overlay-menu {
            max-height: 240px;
            overflow-y:scroll;
        }
        .ant-checkbox-group {
            width: 100%;
        }
        .ant-divider-horizontal {
            background: #E8E8E8;
            width: 204px;
            margin: 0px 0px 0px 8px;
            min-width: 204px;
        }
        .dtc-option-select-overlay-row {
            padding: 8px;
            &.footer-box {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
            }
        }
    }
}