$prefix: "dtc-slide-pane";

.#{$prefix} {
    background: #FFF;
    border-left: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    box-shadow: -2px 0 2px 0 rgba(0, 0, 0, 0.1);
    position: absolute;
    display: inline-block;
    transition: transform 0.3s ease-in;
    z-index: 99;
    &.l-#{$prefix}--fixed {
        position: fixed;
        top: 0;
        right: 0;
    }
    .#{$prefix}-content {
        position: relative;
    }

    .#{$prefix}-icon {
        width: 12px;
        height: 56px;
        position: absolute;
        top: calc(50% - 28px);
        left: 0;
        z-index: 999;
        cursor: pointer;
    }
}
