$primaryAIColor: #00BAC6 0%, #0067FF 50%, #450FDE 100%;
$primaryHoverAIColor: #08C4FF 0%, #4892FF 50%, #8A61FF 100%;

.ant-btn.dtc__aigc__button {
    &.ant-btn-icon-only {
        width: auto;
    }
    padding: 0;
    border: none;
    &[disabled] {
        color: #B1B4C5;
        background-color: #EBECF0;
        border-color: #EBECF0;
    }
    &--primary {
        &:not(.ant-btn[disabled]) {
            background: linear-gradient(110deg, $primaryAIColor);
            color: #FFF;
        }
        &:hover {
            &:not(.ant-btn[disabled]) {
                background: linear-gradient(110deg, $primaryHoverAIColor);
                color: #FFF;
            }
        }
    }
    &--secondary.ant-btn-default {
        &:not(.ant-btn[disabled]) {
            position: relative;
            background: linear-gradient(90deg, $primaryAIColor);
            > :not(.dtc__aigc__mask--secondary) {
                position: relative;
                z-index: 2;
            }
            svg,
            path {
                fill: url(#LINE_GRADIENT_ID);
            }
        }
        &:hover,
        &:active {
            &:not(.ant-btn[disabled]) {
                background: linear-gradient(90deg, $primaryHoverAIColor);
                svg,
                path {
                    fill: url(#HOVER_LINE_GRADIENT_ID);
                }
            }
        }
        .dtc__aigc__mask--secondary {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            pointer-events: none;
            background: #FFF;
            margin: 1px;
            border-radius: inherit;
        }
    }
}
