$card_prefix: "dtc-circle";
$warning_color: #FBB310;
$run_color: #1D78FF;
$success_color: #11D782;
$frozen_color: #EBECF0;
$error_color: #F96C5B;
$stopped_color: #AC9DFF;

.#{$card_prefix} {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;
    color: #3d446e;
    &-border {
        padding: 2px 12px;
        border: 1px solid #ebecf0;
        border-radius: 14px;
    }
    &-text {
        margin-left: 8px;
        line-height: 22px;
    }
    &-default {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50% 50%;
    }
    &-warning {
        background: $warning_color;
    }
    &-error {
        background: $error_color;
    }
    &-success {
        background: $success_color;
    }
    &-run {
        background: $run_color;
    }
    &-stopped {
        background: $stopped_color;
    }
}
