$modal-max-height: 80vh;

.dtc-modal {
    .ant-modal-content {
        max-height: $modal-max-height;
        display: flex;
        flex-direction: column;
        .ant-modal-body {
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
            .dtc-modal-body {
                flex: 1;
                padding: 16px 24px;
                overflow-y: auto;
                min-height: 0;
            }
            .dtc-modal-alert {
                border-radius: 6px;
                margin: 4px;
            }
        }
        .ant-modal-header,
        .ant-modal-footer {
            flex: 0 1 auto;
        }
    }
}
