.dtc-handsontable-no-border {
    width: 100%;
    .handsontable {
        thead tr:first-child th {
            border-top: 0;
        }
        th:first-child {
            border-left: 0;
        }
    }
}
