@import '~@shikijs/twoslash/style-rich.css';

.source-code {
    &-content {
        padding: 12px 24px;
        > pre {
            overflow: visible;
        }
    }
    &-shadow {
        box-shadow: inset 0 6px 6px -6px #00000029;
        width: 100%;
        height: 3px;
        position: sticky;
        top: 0;
        opacity: 0;
        transition: opacity 0.3s;
        &__active {
            opacity: 1;
        }
    }
}

// override style-rich.css
:root {
    --twoslash-docs-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.twoslash {
    .twoslash-hover {
        position: static;
    }
    .twoslash-popup-docs {
        max-height: 200px;
        overflow: auto;
        font-size: 0.9em;
        white-space: initial;

        p {
            margin-bottom: 0.2em;
        }
        code {
            color: #c7254e;
            background-color: #f9f2f4;
            padding: 2px 4px;
            font-size: 90%;
            border-radius: 4px;
        }
        .twoslash-popup-docs-tag-name {
            font-style: italic;
        }
    }
    .twoslash-popup-container {
        max-width: 50vw;
        transform: translateY(-100%);
        pointer-events: initial;
    }
    .twoslash-popup-code {
        white-space: break-spaces;
    }
}
