
.story_wrapper {
    padding: 10px 20px 10px 30px;
    font-size: 14px;
    section {
        margin: 10px 0 10px 0;
        font-size: 18px;
        font-weight: bold;
    }
    .strory-code_border {
        border: 1px solid #dddddd;
        padding: 10px 10px 10px 5px;
    }
}