.strory-code_border {
    border: 1px solid #F0F0F0;
    padding: 10px 10px 10px 5px;
}

.story-example_container {
    .story-example_border {
        border: 1px solid #F0F0F0;
        border-bottom: 0;
    }
    .story-example_display {
        padding: 10px 5px;
    }
    .story-example_actions {
        display: flex;
        justify-content: center;
        border-top: 1px dashed #F0F0F0;
        height: 40px;
        line-height: 40px;
        border-bottom: 1px solid #F0F0F0;
        .story-example_toggle-code {
            cursor: pointer;
            margin: 0 10px;
            opacity: 0.5;
            transition: 0.5s;
        }
        .story-example_toggle-code:hover {
            opacity: 1;
        }
    }
    .story-example_codesandbox {
        width: 15px;
        height: 15px;
        cursor: pointer;
        margin: 0 10px;
        opacity: 0.55;
        transition: 0.5s;
    }
    .story-example_codesandbox:hover {
        opacity: 1;
    }
    pre {
        border-radius: 0 !important;
    }
}
