.strory-dt_easy_select_p {
    margin-top: 15px;
}

.strory-dt_easy_select_divDesc {
    text-align: left;
    padding: 8px;
    line-height: 25px;
    p {
        margin: 0;
    }
}

.strory-dt_global_loading_div {
    width: 100%;
    height: 300px;
}
