.dtc-ant-modal-control {
    .ant-modal-content {
        height: 100%
    }
}
.dtc-ant-modal_icon__position {
    position: absolute;
    right: 48px;
    top: -38px;
    color: rgba(0, 0, 0, 0.43)
}
.dtc-icon__cursor {
    cursor: pointer;
}