@import "../components//blockHeader//style.scss";
@import "../components/chromeDownload/style.scss";
@import "../components/statusTag/style.scss";
@import "../components/contextMenu/style.scss";
@import "../components/copyIcon/style.scss";
@import "../components/editCell/style.scss";
@import "../components/ellipsisText/style.scss";
@import "../components/fullscreen/style.scss";
@import "../components/globalLoading/style.scss";
@import "../components//markdownRender/theme/vs-dark.scss";
@import "../components//markdownRender/theme/vs.scss";
@import "../components//markdownRender/style.scss";
@import "../components/mulSelectDropdown/style.scss";
@import "../components/progressBar/style.scss";
@import "../components/progressLine/style.scss";
@import "../components/slidePane/style.scss";
@import "../components/spreadSheet/style.scss";
@import "../components/toolModal/style.scss";
@import "../components/mxGraph/style.scss";
@import "../components/empty/style.scss";

.sb-show-main {
    #root > div:nth-child(3) {
        h1 {
            margin-top: 30px !important;
            font-size: 1.5em !important;
            border: none !important;
        }
        h3 {
            margin-top: 10px !important;
            margin-bottom: 15px !important;
            font-size: 15px;
            font-weight: 500;
            line-height: 1.45;
        }
    }
}

#story-root {
    margin-top: -30px;
    h2 {
        margin-top: 30px;
    }
}
