.dtc-empty{
    .ant-empty {
        .ant-empty-description {
            color: #8b8fa8;
            line-height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, 'PingFang SC';
            font-weight: 400;
        }
    }
}
