.newBreadcrumb{
    .ant-breadcrumb a{
        color: #999999;
        cursor: pointer;
    }
    .ant-breadcrumb-link{
        font-size: 14px;
        font-family: PingFangSC-Semibold, sans-serif;
        color: #333333;
        font-weight: bolder;
    }
}