.dtc-aigc-dialog-list {
    &-item {
        line-height: 32px;
        height: 32px;
        padding: 0 16px;
        border-radius: 4px;
        margin-top: 4px;
        color: #3D446E;
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
            cursor: pointer;
            background-color: #EBECF0;
            .anticon-more {
                display: block;
            }
        }
        .anticon-more {
            display: none;
        }
        &.dtc-aigc-dialog-list-item__selected {
            background-color: #E8F1FF;
            color: #1D78FF;
        }
        &-input {
            height: 24px;
        }
    }
}
