$prefix: 'dt-table';

.#{$prefix} {
    background-color: #ffffff;
    .#{$prefix}-body {
        position: relative;
        .dt-empty {
            position: absolute;
            top: 60px;
            left: 0;
            right: 0;
        }
    }
    .#{$prefix}-footer {
        padding:26px 24px;
        box-shadow:0px 2px 6px 0px rgba(0,0,0,0.1); 
        .ant-pagination {
            width: 100%;
            text-align: right;
            overflow: hidden;
            .ant-pagination-total-text{
                float: left;
            }
        } 
    }
    .ant-table-placeholder {
         border-bottom: 0 none;
         padding: 32px; 
    }
    
}
