.dtc-empty {
    .ant-empty {
        .ant-empty-image {
            display: flex;
            justify-content: center;
            margin-bottom: 8px;
        }
        .ant-empty-description {
            color: #8B8FA8;
            line-height: 20px;
            font-size: 14px;
            font-family: PingFangSC-Regular, "PingFang SC";
            font-weight: 400;
        }
    }
}

.dtc-empty__container {
    position: relative;
    width: 80px;
    height: 80px;
    bottom: 8px;
    .dtc-empty__search {
        font-size: 80px;
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
    }
    .dtc-empty__loupe {
        font-size: 38px;
        position: absolute;
        width: 38px;
        height: 38px;
        animation:
            animY 1s cubic-bezier(0.36, 0, 0.64, 1) -0.5s infinite alternate,
            animX 1s cubic-bezier(0.36, 0, 0.64, 1) 0s infinite alternate;
    }
}

@keyframes animX {
    0% {
        right: 0;
    }
    100% {
        right: 20px;
    }
}

@keyframes animY {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 20px;
    }
}
