$card_prefix: "dtc-statusTag";
$warning_color: #FBB310;
$run_color: #1D78FF;
$success_color: #11D782;
$frozen_color: #B1B4C5;
$error_color: #F96C5B;
$stopped_color: #AC9DFF;
$colors: (
    "warning": (
        color: $warning_color,
        bg: #FFF4D9,
    ),
    "run": (
        color: $run_color,
        bg: #E8F1FF,
    ),
    "success": (
        color: $success_color,
        bg: #E7FBF7,
    ),
    "frozen": (
        color: $frozen_color,
        bg: #F5F5F8,
    ),
    "error": (
        color: $error_color,
        bg: #FDE9E7,
    ),
    "stopped": (
        color: $stopped_color,
        bg: #EAE6FF,
    ),
);

.#{$card_prefix} {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 24px;
    color: #3D446E;
    &--border {
        padding: 2px 12px;
        border: 1px solid #EBECF0;
        border-radius: 14px;
    }
    &--fill {
        padding: 2px 12px;
        border-radius: 14px;
    }
    &__icon {
        display: flex;
        align-items: center;
        &--default {
            display: inline-block;
            width: 6px;
            height: 6px;
            border-radius: 50%;
        }
    }
    &__text {
        margin-left: 8px;
        line-height: 22px;
        white-space: nowrap;
    }

    @each $type, $values in $colors {
        &__#{$type} {
            &--icon {
                color: map-get($values, color);
            }
            &--fill {
                color: map-get($values, color);
                background-color: map-get($values, bg);
            }
            &--iconBg {
                background: map-get($values, color);
            }
        }
    }
}
