li,ul {
    padding: 0;
    margin: 0;
}

.dtc-conversations-wrapper {
    border-right: 1px solid #E5E7EB;
    background-color: #F9F9FA;
    .ant-btn.dtc__aigc__button {
        margin: 16px;
        gap: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
