.dtc-copy {
    display: inline-block;
    color: #1D78FF;
    cursor: pointer;
    &--disabled {
        cursor: not-allowed;
        color: #B1B4C5;
    }
    &__default-icon {
        font-size: 16px;
    }
}
