.dtc-popover {
    min-width: 220px;
    max-width: 400px;
    .ant-popover-inner {
        border-radius: 4px;
    }
    .ant-popover-title {
        padding: 16px 16px 0;
        border-bottom: 0;
        font-weight: 500;
        font-size: 14px;
        color: #3D446E;
    }
    .ant-popover-inner-content {
        padding: 16px;
        max-height: var(--max-height, 400px);
        overflow-y: auto;
        font-size: 12px;
        color: #8B8FA8;
    }
    .ant-popover-title + .ant-popover-inner-content {
        padding-top: 4px;
    }
}
