$card_prefix: "dtc-block-header";

.#{$card_prefix} {
    &-title-row {
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--large {
            .#{$card_prefix}-title-box {
                line-height: 24px;
                .#{$card_prefix}-title {
                    font-size: 16px;
                }
            }
        }
        &--middle {
            .#{$card_prefix}-title-box {
                line-height: 22px;
                .#{$card_prefix}-title {
                    font-size: 14px;
                }
            }
        }
        &--small {
            .#{$card_prefix}-title-box {
                line-height: 20px;
                .#{$card_prefix}-title {
                    font-size: 12px;
                }
            }
        }
        &-background {
            padding: 0 12px;
            background-color: #F9F9FA;
            &.#{$card_prefix}-title-row {
                &--middle,
                &--large {
                    height: 40px;
                }
                &--small {
                    height: 32px;
                }
            }
        }
        &-pointer {
            cursor: pointer;
        }

        .#{$card_prefix}-title-box {
            flex: 1;
            display: flex;
            align-items: center;
            .#{$card_prefix}-addon-before {
                margin-right: 8px;
                color: #1D78FF;
                &--middle,
                &--small {
                    width: 4px;
                    height: 16px;
                    background-color: #1D78FF;
                }
                &--large {
                    width: 4px;
                    height: 20px;
                    background-color: #1D78FF;
                }
            }
            .#{$card_prefix}-tooltip {
                display: flex;
                margin-right: 4px;
                font-size: 16px;
                color: #B1B4C5;
            }
            .#{$card_prefix}-title {
                color: #3D446E;
                font-weight: 500;
                margin-right: 4px;
            }
            .#{$card_prefix}-description {
                display: flex;
                align-items: center;
                color: #8B8FA8;
                font-size: 12px;
            }
        }
        .#{$card_prefix}-addonAfter-box {
            color: #8B8FA8;
        }

        .#{$card_prefix}-collapse-box {
            color: #8B8FA8;
            display: flex;
            align-items: center;
            cursor: pointer;
            user-select: none;
            .text {
                font-size: 12px;
                margin: 0 4px;
            }
            .icon {
                font-size: 16px;
                transition: transform 0.4s;
                &.down {
                    transform: rotate(-180deg);
                }
                &.up {
                    transform: rotate(0deg);
                }
            }
        }
    }
    &-content {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0.5s ease;
        &.active {
            opacity: 1;
            padding: 16px 24px;
            height: auto;
        }
    }
}
