$card_prefix: "dtc-block-header";

.#{$card_prefix} {
    &__title {
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &--large {
            .title__box {
                line-height: 24px;
                .title__text {
                    font-size: 16px;
                }
            }
        }
        &--middle {
            .title__box {
                line-height: 22px;
                .title__text {
                    font-size: 14px;
                }
            }
        }
        &--small {
            .title__box {
                line-height: 20px;
                .title__text {
                    font-size: 12px;
                }
            }
        }
        &--background {
            padding: 0 12px;
            background-color: #F9F9FA;
            &.#{$card_prefix}__title {
                &--middle,
                &--large {
                    height: 40px;
                }
                &--small {
                    height: 32px;
                }
            }
        }
        &--pointer {
            cursor: pointer;
        }
        .title {
            &__box {
                flex: 1;
                display: flex;
                align-items: center;
            }
            &__addon-before {
                margin-right: 8px;
                color: #1D78FF;
                &--middle,
                &--small {
                    width: 4px;
                    height: 16px;
                    background-color: #1D78FF;
                }
                &--large {
                    width: 4px;
                    height: 20px;
                    background-color: #1D78FF;
                }
                .icon {
                    &--small {
                        font-size: 16px;
                    }
                    &--middle {
                        font-size: 20px;
                    }
                    &--large {
                        font-size: 25px;
                    }
                }
            }
            &__tooltip {
                display: flex;
                margin-right: 4px;
                font-size: 16px;
                color: #B1B4C5;
                cursor: pointer;
            }
            &__text {
                color: #3D446E;
                font-weight: 500;
                margin-right: 4px;
            }
            &__description {
                display: flex;
                align-items: center;
                color: #8B8FA8;
                font-size: 12px;
            }
            &__addon-after {
                color: #8B8FA8;
            }
            &__collapse {
                color: #8B8FA8;
                display: flex;
                align-items: center;
                cursor: pointer;
                user-select: none;
                .collapse {
                    &__text {
                        font-size: 12px;
                        margin: 0 4px;
                    }
                    &__icon {
                        font-size: 16px;
                        transition: transform 0.4s;
                        &--down {
                            transform: rotate(-180deg);
                        }
                        &--up {
                            transform: rotate(0deg);
                        }
                    }
                }
            }
        }
    }
    &__content {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity 0.5s ease, height 0.5s ease;
        &--active {
            opacity: 1;
            padding: 16px 24px;
            height: auto;
        }
    }
}
