@media only screen and (min-width: 767px) {
    #root {
        .dumi-default-doc-layout-toc-wrapper > h4 {
            display: none;
        }
        .dumi-default-toc {
            border-inline-start-width: 2px;
            > li > a.active {
                margin-inline-start: -2px;
                border-inline-start-width: 2px;
            }
        }
    }
}
