@import '../../style/const.scss';

.dtc-footer {
    background: rgb(250, 250, 252);

    .dtc-footer-links {
        padding-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .dtc-footer-rows {
            width: 200px;
            flex-shrink: 0;
            display: flex;
            flex-direction: column;

            .dtc-footer-rows-title {
                line-height: 28px;
                font-size: 14px;
                color: #8b8fa8;
            }

            .dtc-footer-col {
                line-height: 28px;

                > a {
                    color: $basic-black-color;
                }
            }
        }
    }

    .dtc-footer-divider {
        margin: 0 48px;
    }

    .dtc-footer-copyright {
        text-align: center;
        font-size: 14px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .dtc-footer {
        .dtc-footer-links {
            .dtc-footer-rows {
                width: 100px;
            }
        }
    }
}
