@import '../../style/const.scss';

.dtc-footer {
    font-family: 'Smiley Sans Oblique';
    background: rgb(250, 250, 252);

    .dtc-footer-links {
        padding-top: 20px;
        width: 800px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .dtc-footer-rows {
            display: flex;
            flex-direction: column;
            padding-left: 50%;

            .dtc-footer-rows-title {
                line-height: 28px;
                font-size: 14px;
                color: #8b8fa8;
            }

            .dtc-footer-col {
                line-height: 28px;

                > a {
                    color: $basic-black-color;
                }
            }
        }
    }

    .dtc-footer-divider {
        margin: 0 48px;
    }

    .dtc-footer-copyright {
        text-align: center;
        font-size: 14px;
        padding-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .dtc-footer {
        .dtc-footer-links {
            width: 100%;
            padding-top: 20px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;

            .dtc-footer-rows {
                padding-left: 50px;
            }
        }
    }
}
