// ==== 颜色 ====
$bgColor: #F2F3F8; // 背景色
$color1: #2E3943; // 主色
$color2: #2491F7; // 第二色

// ==== 字体 ====
$font1: 14px;
$font2: 16px;
$fontColor: #9FA9BA;
// ==== 页面大小 ====
$minWidth:1260px;

// ====== UI 5.0 颜色规范 ======

// DTinsight Blue

/** 用于主按钮底色，描边按钮，可操作项，tab选中状态的底部线条，运行中的状态以及文字图标颜色 */
$primary: #1D78FF;

/** 用于主按钮底色，描边按钮，可操作项，tab选中状态的hover状态填充色 */
$hover: #0A67F2;

/** 用于主按钮底色，描边按钮，可操作项，tab选中状态的点击状态填充色 */
$click: #005CE6;

/** 用于主按钮底色，描边按钮，可操作项的不可用状态填充色 */
$disable: #BBD6FF;

/** 用于小模块切换背景，提示背景 */
$bg1: #E8F1FF;

/** 用于整个页面的底色 */
$bg2: #F2F7FA;

// DTinsight Navy

/** 用于标题，主文字颜色 */
$navy1: #3D446E;

/** 用于表单标题备注说明文字颜色 */
$navy2: #64698B;

/** 用于分页器提示文字颜色 */
$navy3: #8B8FA8;

/** 用于文本框内的提示文字颜色 */
$navy4: #B1B4C5;

/** 用于表单边框颜色，图表线条颜色 */
$navy5: #D8DAE2;

/** 用于分割线、失效按钮状态颜色 */
$navy6: #EBECF0;

/** 用于模块标题背景色 */
$navy7: #F5F5F8;

/** 用于二级导航底色 */
$navy8: #F9F9FA;

/** 一级按钮文字颜色 */
$white: #FFF;

// Functional Color

/** 用于成功状态颜色 */
$green: #11D7B2;

/** 用于失败状态、信息文字、必填项图标颜色 */
$red: #F96C5B;

/** 用于等待状态、警告提示颜色 */
$yellow: #FBB310;

/** 用于取消、冻结状态、未开始、未完成、未进行、未配置提示颜色 */
$purple: #AC9DFF;

// ====== UI 5.0 字体规范 ======

/** 主字体大小，应用于列表内容，下拉、选择、输入框，弹窗等控件文字 */
$font12: 12px;

/** 应用于左侧菜单栏字体，主标题字体，弹窗标题字体大小 */
$font14: 14px;

/** 应用于顶部导航字体和部分需要强调的标题 */
$font16: 16px;

/** 较少使用，应用于部分大标题 */
$font20: 20px;

/** 应用于数据统计概览页面等需突出数字 */
$font40: 40px;
