$prefix: 'dtc-progress';
.#{$prefix}-progress-bar {
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 10000;
    width: 100%;
    height: 1px;
    background: #2491F7;
    box-shadow: 0px 1px 3px #2491F7;
    animation: dtc-progress-loading-anim 1s ease-in-out infinite;
}

.#{$prefix}-progress-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    z-index: 10000;
}

@-webkit-keyframes dtc-progress-loading-anim {
    to {
        transform: translateX(200%)
    }
}

@keyframes dtc-progress-loading-anim {
    to {
        transform: translateX(200%)
    }
}
