.dtc-loading-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
}
.dtc-loading-center {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    right: 0;
    margin: auto;
    min-width: 300px;
    height: 160px;
}
.dtc-bouncywrap {
    position: relative;
    display: inline-block;
    margin-top: 20px;
}
.dtc-dotcon {
    display: block;
    float: left;
    width: 50px;
    position: absolute;
}
.dtc-dc1 {
    -webkit-animation: bouncy1 1.5s infinite;
    left: -40px;
    animation: bouncy1 1.5s infinite;
}
.dtc-dc2 {
    -webkit-animation: bouncy2 1.5s infinite;
    animation: bouncy2 1.5s infinite;
    left: 0;
}
.dtc-dc3 {
    -webkit-animation: bouncy3 1.5s infinite;
    animation: bouncy3 1.5s infinite;
    left: 40px;
}

.dtc-dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

@-webkit-keyframes bouncy1 {
    0% {
        -webkit-transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translate(0px, 0px) rotate(180deg);
    }
    100% {
        -webkit-transform: translate(40px, 0px) rotate(-180deg);
    }
}

@keyframes bouncy1 {
    0% {
        transform: translate(0px, 0px) rotate(0deg);
    }
    50% {
        transform: translate(0px, 0px) rotate(180deg);
    }
    100% {
        transform: translate(40px, 0px) rotate(-180deg);
    }
}

@-webkit-keyframes bouncy2 {
    0% {
        -webkit-transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(-40px);
    }
    100% {
        -webkit-transform: translateX(-40px);
    }
}

@keyframes bouncy2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-40px);
    }
    100% {
        transform: translateX(-40px);
    }
}

@-webkit-keyframes bouncy3 {
    0% {
        -webkit-transform: translateX(0px);
    }
    50% {
        -webkit-transform: translateX(0px);
    }
    100% {
        -webkit-transform: translateX(-40px);
    }
}

@keyframes bouncy3 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-40px);
    }
}