.dtc-aigc__group {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    &--fullscreen {
        .dtc-aigc__group__list {
            background-color: #F9F9FA;
        }
        &.dtc-aigc__group--expand .dtc-aigc__group__list {
            width: 240px;
            padding: 8px 0;
        }
    }
    &--expand {
        .dtc-aigc__group__list {
            transform: translateX(0);
            padding: 8px 0;
            width: 200px;
            &--float {
                height: fit-content;
                transform: translateY(0);
                opacity: 1;
            }
        }
    }
    &__list {
        width: 0;
        background-color: transparent;
        border-right: 1px solid #EBECF0;
        padding: 0;
        transform: translateX(-210px);
        transform-origin: 0 0;
        transition: all 0.3s ease;
        position: relative;
        display: flex;
        flex-direction: column;
        &--hide {
            display: none;
        }
        &--empty {
            margin-top: 100%;
        }
        &--float {
            position: absolute;
            top: 2px;
            left: 8px;
            z-index: 10;
            background-color: #FFF;
            border-radius: 4px;
            border: 1px solid #EBECF0;
            box-shadow: 0 12px 20px 0 rgba(29, 120, 255, 0.1);
            max-height: 400px;
            transform: translateY(-10px);
            height: 0;
            width: 150px;
            opacity: 0;
            .dtc-aigc__group__list--empty {
                margin-top: 0;
            }
            .dtc-aigc__dialog__list__item:hover {
                .anticon-more {
                    display: none;
                }
            }
            .dtc-aigc__group__list__item {
                padding: 0 8px;
            }
        }
        &__wrapper {
            flex: 1;
            overflow-y: auto;
        }
        &__item {
            padding: 0 16px;
            &__title {
                color: #B1B4C5;
                line-height: 20px;
                font-size: 12px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        .ant-btn.dtc__aigc__button {
            margin: 16px;
            gap: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__content {
        flex: 1;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
    }
    .dtc__spin {
        &__wrapper {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 40px 0;
        }
    }
}
